
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.heading {
  font-size: 2rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: #fc8c05;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #011aff;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
}
/* navbar ends */



/* aboutsection */
/* button csss start */

.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}


@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}

/* button csss end */
.userAboutsection{
  margin-top:  3rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.userAboutsection-left{
  margin: 1rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userAboutsection-left img{
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}
.userAboutsection-left img:hover{
  mix-blend-mode: normal;
}
.userAboutsection-right{
  margin: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.userAboutsection-right p{
  font-size: 1.2rem;
  color: #ac68e8;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.userAboutsection-right h3{
  font-size: 2.2rem;
  color: #fc8c05;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.userAboutsection-right .tag{
font-size: 1.3rem;
font-weight: 900;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:orange;
}
.box-container p{
  font-size: 1rem;
}

/* aducation section */
/* education section end */

.educationcontainer{
  background: #e5ecfb;
  min-height: 80vh;
}

.education-heading{
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-container .box{
  display: flex;
  width:80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.box-container .box  image{
  width: 50%;
}
.box-container .box  img{
  border-radius: 100%;
  object-fit: none;
}
.box-container .box .content{
  width: 50%;
  
}
 .box-container .box .content h3 {
  font-size: 1.8rem;
  color: #012970;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
 .box-container .box .content p {
  font-size: 1.3rem;
  margin-left: 1rem;
  text-align: left;
}
.box .content h4 {
  font-size: 1.5rem;
  color: rgb(34, 109, 0);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* skills */
/* skillcontainer detaila */
#skills {
  padding-top: 7rem;
  padding-bottom: 7rem;
 
}
#skills h1{
  text-align: center;
  padding-bottom: 3rem;
}

.skills-container {
  position: relative;
  display: flex;
  gap: 30px;
}

.skill-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
 justify-content: space-evenly;
}

.skill-container-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  gap: 2rem;
  justify-content: center;
}

.skills-logo {
  width: 90px;
  transition: all 0.5s;
}

.skills-logo:hover {
  transform: scale(1.2);
}

.skill-heading {
  font-size: 50px;
  font-style: bold;
  color: rgb(90, 238, 22);
  line-height: 50px;
}


.skill-subHeading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}

.skill-subHeading p {
  margin: 15px 0;
  color: #cdd0d5;
  font-size: 1.2rem;
  line-height: normal;
  line-height: normal;
}

.logoweb {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills-logoweb {
  width: 40px;
  transition: all 0.5s;
}

.skills-logoweb:hover {
  transform: scale(1.2);
}

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
.navbarmobile{
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  .navbar{
    display: none;
  }

  .navbarmobile{
    width: 100%;
    position: absolute;
    top: 6.5rem;
    left: 0%;
    animation:dotsAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }

}
  .navbarmobile ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center;
  }
  header .logo {
    font-size: 1.9rem;
    font-weight: 800;
    text-decoration: none;
    color: #0e2431;
  }
  header .logo i {
    font-size: 2.2rem;
  }
  header .logo:hover {
    color: #fc8c05;
  }
 
  header .navbarmobile ul li a {
    font-size: 1.57rem;
    color: #0e2431;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.2s;
  }
  header .navbarmobile ul li a.active,
  header .navbarmobile ul li a:hover {
    color: #011aff;
    border-bottom: 0.2rem solid #011aff;
    padding: 0.5rem 0;
  }
}


/*footer*/

footer {
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
}

.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}


.link-wrapper {
  display: flex;
  gap: 1.2rem;
}

.link-wrapper div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}

.link-wrapper div a:hover {
  color: var(--bgOrange);
}

.icon-wrapper {
  display: flex;
  gap: 1rem;
}

/* formcontaile */


.contactus-form-container {
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.contactus-heading {
  font-size: 3em;
  color: var(--bgOrange);
  padding-top: 2rem;
  text-align: center;
}


.contactus-form-container {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}

.formfield-container {
  width: 100%;
}

.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  border: none;
  margin-top: 27px;
}

.formfield-textarea {
  height: auto;
  padding-top: 1rem;
}

#submit-btn {
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;
}

#submit-btn:hover {
  scale: 0.9;
}

.submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
}


